## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider/JetBrains
.idea/
*.iml
/packages/
riderModule.iml
/_ReSharper.Caches/

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## Secrets (se tiver)
**/appsettings.*.json

# Ignorar pastas de publicação e instaladores
[Pp]ublish/
[Rr]eleases/

# Ignorar extensões específicas de pacotes e binários
*.nupkg
*.exe
*.dll
*.pdb

publish/
Releases/
*.nupkg
*.dll